body{
	font-size: 16px;
}

#result{
	color:#EFEFEF;
	font-size: 2em;
}

#old_result{
	font-size: .75em;
}

.demo-card-square.mdl-card {
  width: 100vw;
  height: 100vh;
	max-height: 480px;
}
.demo-card-square > .mdl-card__title {
  background:
    url('../img/posto.jpg') no-repeat #46B6AC;
  background-size: 100% 100%;
}

.demo-card-square > .mdl-card__title > .mdl-card__title-text {
	color: #eee;
	background-color: rgba(65,65,65,.65);
	font-size: 2em;
	font-weight: bolder;
}

@media (min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	body{
	 font-size: 32px;
	}

	#old_result{
		font-size: 1em;
	}

	.demo-card-square.mdl-card {
	 max-height: 720px;
	}

}
